.site-container {
  max-width: 400px;
  margin: 0 auto;
  background: #000116;
}

body {
  background: #000116;
}

.introduction-container {
  padding-top: 14px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

.introduction-title {
  text-align: center;
  font-family: Philosopher;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #FECC97 65.62%, rgba(254, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 140px;
  margin: 0 auto;
}

.introduction-empty {
  height: 170px;
}

.introduction-card {
  max-width: 303px;
  border-radius: 6px;
  border: 1px solid #006593;
  background: linear-gradient(180deg, #02314F 0%, #161616 100%);
  box-shadow: 0px 0px 4px 0px #006593;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 15px;
}

.introduction-card__top-text {
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 34px;
}

.introduction-card__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Philosopher;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFCC97 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction-card__text-little {
  font-size: 13px;
  background: linear-gradient(180deg, #FFCC97 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction-card__text-block.views {
  margin-top: 12px;
}

.introduction-card__text-little.views {
  margin-top: 3px;
}

.about-container {
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  color: #AA0060;
  text-align: center;
  font-family: Philosopher;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 303px;
  border-radius: 6px;
  border: 1px solid rgba(0, 101, 147, 0.10);
  background: linear-gradient(180deg, #02314F 0%, #161616 100%);
  box-shadow: 0px 0px 4px 0px #006593;
  margin: 0 auto;
  padding: 10px;
  border: none;
}

.about-card__text {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFF 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-card__button {
  color: #FFF;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 110px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #A8005F 0%, #6A053F 100%);
  box-shadow: 0px 0px 5px 4px rgba(138, 8, 82, 0.60);
  margin-top: 10px;
  border: none;
}

.section-title.brands-title {
  margin-bottom: 5px;
}

.brands-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #000116 0%, rgba(255, 255, 255, 0.52) 46.21%, #000116 100%);
}

.brands-logos__image {
  max-width: 229px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}

.brands-logos__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-empty {
  height: 216px;
}

.cases-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.slider {
  overflow: hidden;
  position: relative;
  max-width: 300px;
  border-radius: 6px;
  margin: 0 auto;
  border-radius: 6px;
  background: linear-gradient(180deg, #8B0852 0%, #271821 100%);
  box-shadow: 0px 0px 4px 0px #006593;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  border-radius: 6px;
}

.slide {
  min-width: 100%;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.slide-text {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFF 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.pagination {
  text-align: center;
  margin-top: 10px;
  pointer-events: none;
}

.pagination button {
  cursor: pointer;
  width: 20px;
  height: 3px;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 100px;
  border: none;
  margin: 0 4px;
}

.pagination button.active {
  cursor: default;
  background-color: rgba(200, 200, 200, 0.4);
  transform: scale(1.1);
}

.prev-btn,
.next-btn {
  cursor: pointer;
  width: 36px;
  height: 50px;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease;
}

.prev-btn:active,
.next-btn:active {
  transform: scale(1.05);
}