.site-container {
  max-width: 400px;
  margin: 0 auto;
  background: #000116;
}

body {
  background: #000116;
}

.introduction-container {
  padding-top: 14px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

.introduction-title {
  text-align: center;
  font-family: Philosopher;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(180deg, #FECC97 65.62%, rgba(254, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 140px;
  margin: 0 auto;
}

.introduction-empty {
  height: 170px;
}

.introduction-card {
  max-width: 303px;
  border-radius: 6px;
  border: 1px solid #006593;
  background: linear-gradient(180deg, #02314F 0%, #161616 100%);
  box-shadow: 0px 0px 4px 0px #006593;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 15px;
}

.introduction-card__top-text {
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 34px;
}

.introduction-card__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Philosopher;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFCC97 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction-card__text-little {
  font-size: 13px;
  background: linear-gradient(180deg, #FFCC97 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction-card__text-block.views {
  margin-top: 12px;
}

.introduction-card__text-little.views {
  margin-top: 3px;
}

.about-container {
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  color: #AA0060;
  text-align: center;
  font-family: Philosopher;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(0, 101, 147, 0.10);
  background: linear-gradient(180deg, #02314F 0%, #161616 100%);
  box-shadow: 0px 0px 4px 0px #006593;
  margin: 0 auto;
  padding: 10px;
  border: none;
}

.about-card__text {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFF 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-card__button {
  color: #FFF;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 110px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #A8005F 0%, #6A053F 100%);
  box-shadow: 0px 0px 5px 4px rgba(138, 8, 82, 0.60);
  margin-top: 10px;
  border: none;
}

.section-title.brands-title {
  margin-bottom: 5px;
}

.brands-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #000116 0%, rgba(255, 255, 255, 0.52) 46.21%, #000116 100%);
}

.brands-logos__image {
  max-width: 229px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}

.brands-logos__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-empty {
  height: 216px;
}

.cases-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.slide,
.review-slide {
  min-width: 100%;
  height: 500px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-text,
.review-slide-text {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFF 49.48%, rgba(255, 204, 151, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls,
.review-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.pagination,
.review-pagination {
  text-align: center;
  margin-top: 10px;
  pointer-events: none;
}

.pagination button,
.review-pagination button {
  cursor: pointer;
  width: 5px;
  height: 3px;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 100px;
  border: none;
  margin: 0 2px;
}

.pagination button.active,
.review-pagination button.active {
  cursor: default;
  background-color: rgba(200, 200, 200, 0.4);
  transform: scale(1.1);
}

.prev-btn,
.next-btn,
.review-prev-btn,
.review-next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 45px;
  height: 70px;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease;
}

.prev-btn:active,
.next-btn:active,
.review-prev-btn:active,
.review-next-btn:active {
  transform: scale(1.05);
}

.slider,
.review-slider {
  overflow: hidden;
  position: relative;
  max-width: 330px;
  border-radius: 6px;
  margin: 0 auto;
  background: linear-gradient(180deg, #8B0852 0%, #271821 100%);
  box-shadow: 0px 0px 4px 0px #006593;
}

.slides,
.review-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  border-radius: 6px;
}
.slide.first {
  background-image: url('../src/img/case1.jpg');
}

.slide.second {
  background-image: url('../src/img/case2.jpg');
}

.slide.third {
  background-image: url('../src/img/case3.jpg');
}

.slide.fourth {
  background-image: url('../src/img/case4.jpg');
}

.slide.fifth {
  background-image: url('../src/img/case5.jpg');
}

.slide.sixth {
  background-image: url('../src/img/case6.jpg');
}

.slide.seventh {
  background-image: url('../src/img/case7.jpg');
}

.slide.eighth {
  background-image: url('../src/img/case8.jpg');
}

.slide.nineth {
  background-image: url('../src/img/case9.jpg');
}

.slide.tenth {
  background-image: url('../src/img/case10.jpg');
}

.slide.eleventh {
  background-image: url('../src/img/case11.jpg');
}

.services-container {
  padding-left: 20px;
  padding-right: 20px;
}

.services-card {
  margin: 0 auto;
  max-width: 330px;
  border-radius: 6px;
  background: linear-gradient(180deg, #8B0852 0%, #271821 100%);
  box-shadow: 0px 0px 4px 0px #006593;
  margin-bottom: 40px;
}

.services-card__title {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(180deg, #A6015E 0%, #730544 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Philosopher;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  padding: 10px;
  white-space: pre-line;
  color: #FFF;
  font-family: Montserrat Alternates;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}

.services-card__map-img,
.services-card__time-img {
  margin-top: 10px;
}

.services-card__map-text,
.services-card__time-text {
  margin-top: 5px;
}

.services-card__button {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 200px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #A8005F 0%, #6A053F 100%);
  box-shadow: 0px 0px 5px 4px rgba(138, 8, 82, 0.60);
  margin-top: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services-card__alert {
  background: #2B1823;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.services-card__alert.accaunt-alert {
  font-size: 20px;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background: url(/src/img/faq.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.faq-content .faq-content__item-text.answer {
  margin-top: -5px;
}

.faq-content__item {
  display: flex;
  gap: 10px;
}

.faq-content__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-container {
  padding-left: 30px;
  padding-right: 30px;
}

.faq-content__item-text.answer {
  font-size: 12px;
  margin-left: 19px;
}

.review-container {
  padding-left: 20px;
  padding-right: 20px;
}

.review-slide.first {
  background-image: url("../src/img/rev1.jpg");
}

.review-slide.second {
  background-image: url('../src/img/rev2.jpg');
}

.review-slide.third {
  background-image: url('../src/img/rev3.jpg');
}

.review-slide.fourth {
  background-image: url('../src/img/rev4.jpg');
}

.review-slide.fifth {
  background-image: url('../src/img/rev5.jpg');
}

.review-slide.sixth {
  background-image: url('../src/img/rev6.jpg');
}

.review-slide.seventh {
  background-image: url('../src/img/rev7.jpg');
}

.review-slide.eighth {
  background-image: url('../src/img/rev8.jpg');
}

.review-slide.nineth {
  background-image: url('../src/img/rev9.jpg');
}

.review-slide.tenth {
  background-image: url('../src/img/rev10.jpg');
}

.socials-container {
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(180deg, #000116 0%, #FFF 100%);
  background-image: url('../src/img/likes.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding-bottom: 40px;
}

.socials-after-title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 20px;
}

.socials-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.socials-list__item {
  width: 220px;
  border-radius: 20px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.socials-list__item.viber {
  background: #8E24AA;
}

.socials-list__item.telegram {
  background: #1990CF;
}

.socials-list__item.instagram {
  background: #7D32F9;
}

.socials-list__item-wrap {
  display: flex;
}

.socials-list__item-wrap.viber {
  gap: 35px;
}

.socials-list__item-wrap.telegram {
  gap: 25px;
}

.socials-list__item-wrap.instagram {
  gap: 23px;
}

.socials-list__item-icon,
.socials-list__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list__item-icon {
  padding-left: 5px;
}

.socials-subscribe-title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subscribe-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.subscribe-list__item {
  width: 190px;
  border-radius: 20px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.subscribe-list__item.tiktok {
  background: linear-gradient(180deg, #282828 0%, #1A1A1A 100%);
}

.subscribe-list__item.inst {
  background: linear-gradient(180deg, #9548B4 28.12%, #FF9549 100%);
}

.subscribe-list__item-wrap {
  display: flex;
  align-items: center;
}

.subscribe-list__item-wrap.tiktok {
  gap: 40px;
}

.subscribe-list__item-wrap.inst {
  gap: 28px;
}

.faq-content__item-text.answer.hidden {
  display: none;
}

.faq-content__item-icon.plus.hidden {
  display: none;
}

.faq-content__item-icon.minus.hidden {
  display: none;
}